* {
    color: whitesmoke;
}
#header {
background-image: url(https://images.unsplash.com/photo-1524334228333-0f6db392f8a1?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
padding: 2%;
font-size: 20px;
color: whitesmoke;
}
body{
    background-color: black;
}
#comp1 {
    padding: 1%;
}
#comp3 {
padding: 1%;
}
#comp2 {
    padding: 1%;
}
#about-me {
    float: left;
    padding: 1%;
}
h4 {
    color: orange;
}
p {
    font-style:oblique;
}
#quote {
    text-align: center;
    padding: 2%;
    font-size: x-large;
    color:antiquewhite;
    border:10px solid;
    font-style: italic;
    border-radius:100ch;
    border-style:dotted;
}